*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(168, 167, 167);
    z-index: 10;
    display: flex;
    justify-content: flex-end;
}
.modal-body{
    background-color: white;
    padding: 30px;
}
.modal-body form{
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}
.show-modal{
    display: flex;
}
.hide-modal{
    display: none;
}
.close-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.employee-list{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.employee-list, td, th{
    border: 1px solid #e7e7e7; 
}
.employee-list, td{
    padding: 10px;
    text-align: center;
}
.center-modal{
    
    align-items: center;
    justify-content: center;
}
.update-modal-body{
    width: 450px;
}
.close-icon2{
    position: absolute;
    top: 310px;
    /* left: 50px; */
    right: 730px;
    cursor: pointer;
}